.pic1 {
    float: left;
    padding:10px;
}

.sidebar {
    float: right;
    width: 300px;
    background-color: gold;
    border: 20px solid black;
    padding: 1px;
    margin: 12px;
}
h1 {
    text-align: center;
}
.column1 {
    width: 300px;
    float: left;
    padding: 10px;
    background-color: black;
    margin: 10px;
}
.column2 {
    width: 300px;
    float: left;
    padding: 10px;
    background-color: gold;
    margin: 10px;
}
.pic2 {
    width: 100%;
}
.text {
    color: whitesmoke
}